# INFNET

## Desenvolvimento Front-End com Python (com Streamlit) [24E3_1] - AT

### Análise exploratória de Dados de Futebol

#### StatsBomb Open Data e MPL Soccer

In [77]:
from statsbombpy import sb

In [78]:
df_competitions = sb.competitions()
df_competitions.head(10)

/Users/rodrigo/Dev/infnet/4SEM/frontend/rodrigo_avila_DR1_AT/.venv/lib/python3.11/site-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-07-15T14:15:54.671676,2024-07-15T14:17:00.877356,2024-07-15T14:17:00.877356,2024-07-15T14:15:54.671676
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-06-13T07:51:02.452825,None,None,2024-06-13T07:51:02.452825
3,16,4,Europe,Champions League,male,False,False,2018/2019,2024-06-12T07:44:38.559714,2021-06-13T16:17:31.694,None,2024-06-12T07:44:38.559714
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882
5,16,2,Europe,Champions League,male,False,False,2016/2017,2024-02-13T02:37:32.205154,2021-06-13T16:17:31.694,None,2024-02-13T02:37:32.205154
6,16,27,Europe,Champions League,male,False,False,2015/2016,2024-06-12T07:45:38.786894,2021-06-13T16:17:31.694,None,2024-06-12T07:45:38.786894
7,16,26,Europe,Champions League,male,False,False,2014/2015,2024-02-12T12:49:54.914228,2021-06-13T16:17:31.694,None,2024-02-12T12:49:54.914228
8,16,25,Europe,Champions League,male,False,False,2013/2014,2024-02-12T12:48:48.479157,2021-06-13T16:17:31.694,None,2024-02-12T12:48:48.479157
9,16,24,Europe,Champions League,male,False,False,2012/2013,2024-02-12T12:47:34.340413,2021-06-13T16:17:31.694,None,2024-02-12T12:47:34.340413

In [79]:
df_competitions.columns

Index(['competition_id', 'season_id', 'country_name', 'competition_name',
       'competition_gender', 'competition_youth', 'competition_international',
       'season_name', 'match_updated', 'match_updated_360',
       'match_available_360', 'match_available'],
      dtype='object')

In [80]:
df_competitions['competition_name'].unique()

array(['1. Bundesliga', 'African Cup of Nations', 'Champions League',
       'Copa America', 'Copa del Rey', "FA Women's Super League",
       'FIFA U20 World Cup', 'FIFA World Cup', 'Indian Super league',
       'La Liga', 'Liga Profesional', 'Ligue 1', 'Major League Soccer',
       'North American League', 'NWSL', 'Premier League', 'Serie A',
       'UEFA Euro', 'UEFA Europa League', "UEFA Women's Euro",
       "Women's World Cup"], dtype=object)

In [81]:
df_world_cups = df_competitions[df_competitions['competition_name'] == 'FIFA World Cup']
df_world_cups

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
29,43,106,International,FIFA World Cup,male,False,True,2022,2024-05-15T10:23:32.854925,2024-06-11T11:30:50.462448,2024-06-11T11:30:50.462448,2024-05-15T10:23:32.854925
30,43,3,International,FIFA World Cup,male,False,True,2018,2024-06-12T07:38:19.345758,2021-06-13T16:17:31.694,None,2024-06-12T07:38:19.345758
31,43,55,International,FIFA World Cup,male,False,True,1990,2023-06-28T10:58:20.137929,2021-06-12T16:17:31.694,None,2023-06-28T10:58:20.137929
32,43,54,International,FIFA World Cup,male,False,True,1986,2023-12-26T22:34:04.263530,2021-06-13T16:17:31.694,None,2023-12-26T22:34:04.263530
33,43,51,International,FIFA World Cup,male,False,True,1974,2024-02-13T02:52:29.582599,2021-06-13T16:17:31.694,None,2024-02-13T02:52:29.582599
34,43,272,International,FIFA World Cup,male,False,True,1970,2024-02-13T14:23:06.735299,None,None,2024-02-13T14:23:06.735299
35,43,270,International,FIFA World Cup,male,False,True,1962,2023-06-26T10:38:00.323984,None,None,2023-06-26T10:38:00.323984
36,43,269,International,FIFA World Cup,male,False,True,1958,2024-02-13T14:22:08.222297,None,None,2024-02-13T14:22:08.222297

In [82]:
df_world_cups['season_name'].unique()

array(['2022', '2018', '1990', '1986', '1974', '1970', '1962', '1958'],
      dtype=object)

In [83]:
df_matches = sb.matches(competition_id=43, season_id=106)
df_matches.head()

/Users/rodrigo/Dev/infnet/4SEM/frontend/rodrigo_avila_DR1_AT/.venv/lib/python3.11/site-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,3857256,2022-12-02,21:00:00.000,International - FIFA World Cup,2022,Serbia,Switzerland,2,3,available,...,2023-04-26T23:49:58.956186,3,Group Stage,Stadium 974,Fernando Andrés Rapallini,Dragan Stojković,Murat Yakin,1.1.0,2,2
1,3869151,2022-12-03,21:00:00.000,International - FIFA World Cup,2022,Argentina,Australia,2,1,available,...,2023-07-30T07:48:51.865595,4,Round of 16,Ahmad bin Ali Stadium,Szymon Marciniak,Lionel Sebastián Scaloni,Graham James Arnold,1.1.0,2,2
2,3857257,2022-11-30,17:00:00.000,International - FIFA World Cup,2022,Australia,Denmark,1,0,available,...,2023-06-20T11:04:37.638969,3,Group Stage,Al Janoub Stadium,Mustapha Ghorbal,Graham James Arnold,Kasper Hjulmand,1.1.0,2,2
3,3857258,2022-11-24,21:00:00.000,International - FIFA World Cup,2022,Brazil,Serbia,2,0,available,...,2023-07-11T14:56:31.096588,1,Group Stage,Lusail Stadium,Alireza Faghani,Telê Santana da Silva,Dragan Stojković,1.1.0,2,2
4,3857288,2022-11-26,12:00:00.000,International - FIFA World Cup,2022,Tunisia,Australia,0,1,available,...,2023-04-27T00:30:07.835815,2,Group Stage,Al Janoub Stadium,Daniel Siebert,Jalel Kadri,Graham James Arnold,1.1.0,2,2

In [84]:
df_matches.columns

Index(['match_id', 'match_date', 'kick_off', 'competition', 'season',
       'home_team', 'away_team', 'home_score', 'away_score', 'match_status',
       'match_status_360', 'last_updated', 'last_updated_360', 'match_week',
       'competition_stage', 'stadium', 'referee', 'home_managers',
       'away_managers', 'data_version', 'shot_fidelity_version',
       'xy_fidelity_version'],
      dtype='object')

In [85]:
df_matches

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,3857256,2022-12-02,21:00:00.000,International - FIFA World Cup,2022,Serbia,Switzerland,2,3,available,...,2023-04-26T23:49:58.956186,3,Group Stage,Stadium 974,Fernando Andrés Rapallini,Dragan Stojković,Murat Yakin,1.1.0,2,2
1,3869151,2022-12-03,21:00:00.000,International - FIFA World Cup,2022,Argentina,Australia,2,1,available,...,2023-07-30T07:48:51.865595,4,Round of 16,Ahmad bin Ali Stadium,Szymon Marciniak,Lionel Sebastián Scaloni,Graham James Arnold,1.1.0,2,2
2,3857257,2022-11-30,17:00:00.000,International - FIFA World Cup,2022,Australia,Denmark,1,0,available,...,2023-06-20T11:04:37.638969,3,Group Stage,Al Janoub Stadium,Mustapha Ghorbal,Graham James Arnold,Kasper Hjulmand,1.1.0,2,2
3,3857258,2022-11-24,21:00:00.000,International - FIFA World Cup,2022,Brazil,Serbia,2,0,available,...,2023-07-11T14:56:31.096588,1,Group Stage,Lusail Stadium,Alireza Faghani,Telê Santana da Silva,Dragan Stojković,1.1.0,2,2
4,3857288,2022-11-26,12:00:00.000,International - FIFA World Cup,2022,Tunisia,Australia,0,1,available,...,2023-04-27T00:30:07.835815,2,Group Stage,Al Janoub Stadium,Daniel Siebert,Jalel Kadri,Graham James Arnold,1.1.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,3857265,2022-11-22,18:00:00.000,International - FIFA World Cup,2022,Mexico,Poland,0,0,available,...,2023-04-27T00:49:30.005344,1,Group Stage,Stadium 974,Chris Beath,Gerardo Daniel Martino,Czesław Michniewicz,1.1.0,2,2
60,3857262,2022-12-02,17:00:00.000,International - FIFA World Cup,2022,South Korea,Portugal,2,1,available,...,2023-04-26T23:48:08.999798,3,Group Stage,Education City Stadium,Facundo Tello Figueroa,Paulo Jorge Gomes Bento,Fernando Manuel Fernandes da Costa Santos,1.1.0,2,2
61,3857261,2022-11-29,21:00:00.000,International - FIFA World Cup,2022,Wales,England,0,3,available,...,2023-04-27T00:02:44.241621,3,Group Stage,Ahmad bin Ali Stadium,Slavko Vinčić,Robert Page,Gareth Southgate,1.1.0,2,2
62,3857255,2022-12-01,21:00:00.000,International - FIFA World Cup,2022,Japan,Spain,2,1,available,...,2023-04-26T23:51:48.352990,3,Group Stage,Sheikh Khalifa International Stadium,Victor Miguel de Freitas Gomes,Hajime Moriyasu,Luis Enrique Martínez García,1.1.0,2,2
63,3857254,2022-11-22,15:00:00.000,International - FIFA World Cup,2022,Denmark,Tunisia,0,0,available,...,2023-07-29T19:44:56.738444,1,Group Stage,Education City Stadium,César Arturo Ramos Palazuelos,Kasper Hjulmand,Jalel Kadri,1.1.0,2,2

In [86]:
df_lineups_br = sb.lineups(3857258)["Brazil"]
df_lineups_br.head()

/Users/rodrigo/Dev/infnet/4SEM/frontend/rodrigo_avila_DR1_AT/.venv/lib/python3.11/site-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

,player_id,player_name,player_nickname,jersey_number,country,cards,positions
0,3063,Danilo Luiz da Silva,Danilo,2,Brazil,[],"[{'position_id': 2, 'position': 'Right Back', ..."
1,3067,Ederson Santana de Moraes,Ederson Moraes,23,Brazil,[],[]
2,3202,Gabriel Fernando de Jesus,Gabriel Jesus,18,Brazil,[],"[{'position_id': 23, 'position': 'Center Forwa..."
3,3247,Fábio Henrique Tavares,Fabinho,15,Brazil,[],[]
4,3280,Richarlison de Andrade,Richarlison,9,Brazil,[],"[{'position_id': 23, 'position': 'Center Forwa..."

In [87]:
df_lineups_br.columns

Index(['player_id', 'player_name', 'player_nickname', 'jersey_number',
       'country', 'cards', 'positions'],
      dtype='object')

In [88]:
df_lineups_serbia = sb.lineups(3857258)["Serbia"]
df_lineups_serbia.head()

/Users/rodrigo/Dev/infnet/4SEM/frontend/rodrigo_avila_DR1_AT/.venv/lib/python3.11/site-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

,player_id,player_name,player_nickname,jersey_number,country,cards,positions
0,3512,Marko Grujić,None,26,Serbia,[],[]
1,3831,Dušan Tadić,None,10,Serbia,[],"[{'position_id': 18, 'position': 'Right Attack..."
2,4269,Aleksandar Mitrović,None,9,Serbia,[],"[{'position_id': 23, 'position': 'Center Forwa..."
3,5589,Sergej Milinković-Savić,None,20,Serbia,[],"[{'position_id': 20, 'position': 'Left Attacki..."
4,5591,Filip Kostić,None,17,Serbia,[],[]

In [89]:
df_events = sb.events(3857258)
df_events.head()

/Users/rodrigo/Dev/infnet/4SEM/frontend/rodrigo_avila_DR1_AT/.venv/lib/python3.11/site-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

,50_50,bad_behaviour_card,ball_receipt_outcome,ball_recovery_offensive,ball_recovery_recovery_failure,block_offensive,carry_end_location,clearance_aerial_won,clearance_body_part,clearance_head,...,substitution_outcome,substitution_outcome_id,substitution_replacement,substitution_replacement_id,tactics,team,team_id,timestamp,type,under_pressure
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"{'formation': 4231, 'lineup': [{'player': {'id...",Brazil,781,00:00:00.000,Starting XI,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"{'formation': 3421, 'lineup': [{'player': {'id...",Serbia,786,00:00:00.000,Starting XI,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Serbia,786,00:00:00.000,Half Start,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Brazil,781,00:00:00.000,Half Start,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Serbia,786,00:00:00.000,Half Start,NaN

In [90]:
df_events.columns

Index(['50_50', 'bad_behaviour_card', 'ball_receipt_outcome',
       'ball_recovery_offensive', 'ball_recovery_recovery_failure',
       'block_offensive', 'carry_end_location', 'clearance_aerial_won',
       'clearance_body_part', 'clearance_head', 'clearance_left_foot',
       'clearance_right_foot', 'counterpress', 'dribble_nutmeg',
       'dribble_outcome', 'dribble_overrun', 'duel_outcome', 'duel_type',
       'duration', 'foul_committed_advantage', 'foul_committed_card',
       'foul_committed_type', 'foul_won_advantage', 'foul_won_defensive',
       'goalkeeper_body_part', 'goalkeeper_end_location', 'goalkeeper_outcome',
       'goalkeeper_position', 'goalkeeper_technique', 'goalkeeper_type', 'id',
       'index', 'injury_stoppage_in_chain', 'interception_outcome', 'location',
       'match_id', 'minute', 'off_camera', 'out', 'pass_aerial_won',
       'pass_angle', 'pass_assisted_shot_id', 'pass_body_part', 'pass_cross',
       'pass_cut_back', 'pass_end_location', 'pass_goal_assist', 'pass_height',
       'pass_inswinging', 'pass_length', 'pass_outcome', 'pass_outswinging',
       'pass_recipient', 'pass_recipient_id', 'pass_shot_assist',
       'pass_straight', 'pass_switch', 'pass_technique', 'pass_through_ball',
       'pass_type', 'period', 'play_pattern', 'player', 'player_id',
       'position', 'possession', 'possession_team', 'possession_team_id',
       'related_events', 'second', 'shot_aerial_won', 'shot_body_part',
       'shot_end_location', 'shot_first_time', 'shot_freeze_frame',
       'shot_key_pass_id', 'shot_one_on_one', 'shot_outcome',
       'shot_statsbomb_xg', 'shot_technique', 'shot_type',
       'substitution_outcome', 'substitution_outcome_id',
       'substitution_replacement', 'substitution_replacement_id', 'tactics',
       'team', 'team_id', 'timestamp', 'type', 'under_pressure'],
      dtype='object')

In [91]:
df_events['type'].unique()

array(['Starting XI', 'Half Start', 'Pass', 'Ball Receipt*', 'Carry',
       'Pressure', 'Foul Committed', 'Foul Won', 'Dispossessed', 'Duel',
       'Dribbled Past', 'Dribble', 'Clearance', 'Block', 'Interception',
       'Ball Recovery', 'Miscontrol', 'Shield', 'Shot', 'Goal Keeper',
       'Injury Stoppage', 'Referee Ball-Drop', 'Half End', 'Substitution',
       'Bad Behaviour', 'Tactical Shift', '50/50'], dtype=object)

In [92]:
df_events = df_events[df_events['type'] == 'Pass']
df_events.head()

df_events_cleaned = df_events.dropna(axis=1, how='all')
df_events_cleaned.columns

Index(['counterpress', 'duration', 'id', 'index', 'location', 'match_id',
       'minute', 'off_camera', 'pass_aerial_won', 'pass_angle',
       'pass_assisted_shot_id', 'pass_body_part', 'pass_cross',
       'pass_cut_back', 'pass_end_location', 'pass_goal_assist', 'pass_height',
       'pass_inswinging', 'pass_length', 'pass_outcome', 'pass_outswinging',
       'pass_recipient', 'pass_recipient_id', 'pass_shot_assist',
       'pass_straight', 'pass_switch', 'pass_technique', 'pass_through_ball',
       'pass_type', 'period', 'play_pattern', 'player', 'player_id',
       'position', 'possession', 'possession_team', 'possession_team_id',
       'related_events', 'second', 'team', 'team_id', 'timestamp', 'type',
       'under_pressure'],
      dtype='object')

In [101]:
df_events_cleaned = df_events_cleaned[df_events_cleaned['player'] == 'Neymar da Silva Santos Junior']
df_events_cleaned = df_events_cleaned.dropna(axis=1, how='all')
df_events_cleaned.head()

,duration,id,index,location,match_id,minute,off_camera,pass_angle,pass_assisted_shot_id,pass_body_part,...,possession,possession_team,possession_team_id,related_events,second,team,team_id,timestamp,type,under_pressure
7,1.945839,3ec348c7-e144-4c2a-8ad0-5c6e18199403,8,"[63.2, 33.5]",3857258,0,NaN,-2.066923,NaN,Right Foot,...,2,Brazil,781,[07059a3f-2af9-496e-8111-e25961b20137],2,Brazil,781,00:00:02.717,Pass,NaN
12,0.980017,dc350953-c4af-4a23-8962-e8ad08a76e46,24,"[48.4, 11.5]",3857258,0,NaN,-2.635518,NaN,Right Foot,...,2,Brazil,781,"[1ba6a1aa-a171-4299-b002-46c23e39bafa, 3822932...",19,Brazil,781,00:00:19.285,Pass,True
27,0.416413,3e0fb3bc-d7f2-49a2-bff7-2d834838ae73,82,"[51.2, 55.3]",3857258,2,NaN,2.706923,NaN,Right Foot,...,9,Brazil,781,"[05f66e9a-3929-4e56-a8d9-72acea58082c, 0992ecc...",13,Brazil,781,00:02:13.023,Pass,True
90,1.031185,c7738102-d0af-4cbb-9f18-d1500a2ba363,319,"[79.8, 38.6]",3857258,8,NaN,3.015001,NaN,Right Foot,...,22,Brazil,781,[7a18eef7-5c39-464f-808d-b8880cfe9b3b],53,Brazil,781,00:08:53.417,Pass,NaN
140,1.350709,e0af25ed-9fe3-4719-8f99-5ddd75befcd1,502,"[54.4, 15.8]",3857258,11,NaN,-1.280062,NaN,Right Foot,...,29,Brazil,781,[95e88d4a-086d-45c4-9918-a693ed9ee677],49,Brazil,781,00:11:49.383,Pass,NaN

In [94]:
dict_split_events = sb.events(match_id=3857258, split=True, flatten_attrs=False)
dict_split_events.keys()

/Users/rodrigo/Dev/infnet/4SEM/frontend/rodrigo_avila_DR1_AT/.venv/lib/python3.11/site-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

dict_keys(['starting_xis', 'half_starts', 'passes', 'ball_receipts', 'carrys', 'pressures', 'foul_committeds', 'foul_wons', 'dispossesseds', 'duels', 'dribbled_pasts', 'dribbles', 'clearances', 'blocks', 'interceptions', 'ball_recoverys', 'miscontrols', 'shields', 'shots', 'goal_keepers', 'injury_stoppages', 'referee_ball_drops', 'half_ends', 'substitutions', 'bad_behaviours', 'tactical_shifts', '50/50s'])

In [103]:
events_with_player_column = []

for event, df in dict_split_events.items():
    if 'player' in df.columns:
        events_with_player_column.append(event)

events_with_player_column

['passes',
 'ball_receipts',
 'carrys',
 'pressures',
 'foul_committeds',
 'foul_wons',
 'dispossesseds',
 'duels',
 'dribbled_pasts',
 'dribbles',
 'clearances',
 'blocks',
 'interceptions',
 'ball_recoverys',
 'miscontrols',
 'shields',
 'shots',
 'goal_keepers',
 'injury_stoppages',
 'substitutions',
 'bad_behaviours',
 '50/50s']

In [95]:
df_pass_events = dict_split_events['passes']
df_pass_events.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,duration,related_events,pass,match_id,possession_team_id,team_id,player_id,under_pressure,off_camera,counterpress
0,dd455069-07ce-4acb-a490-81118fcb0235,5,1,00:00:00.360,0,0,Pass,2,Brazil,From Kick Off,...,0.757092,[632321bc-ef74-4b84-8919-5b5b8ecafa05],"{'recipient': {'id': 4320, 'name': 'Neymar da ...",3857258,781,781,3280,NaN,NaN,NaN
1,3ec348c7-e144-4c2a-8ad0-5c6e18199403,8,1,00:00:02.717,0,2,Pass,2,Brazil,From Kick Off,...,1.945839,[07059a3f-2af9-496e-8111-e25961b20137],"{'recipient': {'id': 6945, 'name': 'Alex Sandr...",3857258,781,781,4320,NaN,NaN,NaN
2,b3516a13-1244-4c4d-9d27-baf80949053b,11,1,00:00:06.342,0,6,Pass,2,Brazil,From Kick Off,...,0.912137,[f2ef39ba-7ccc-4040-866e-273177e4c275],"{'recipient': {'id': 5539, 'name': 'Carlos Hen...",3857258,781,781,6945,NaN,NaN,NaN
3,ab9375d9-2e5b-40e6-8471-5ac9014edb02,14,1,00:00:09.553,0,9,Pass,2,Brazil,From Kick Off,...,1.498808,[d5bf4806-771e-440a-a601-bfb3168dded5],"{'recipient': {'id': 3295, 'name': 'Thiago Emi...",3857258,781,781,5539,NaN,NaN,NaN
4,b83a8468-5a6a-4dd7-ae91-d4785fb3ec64,17,1,00:00:14.612,0,14,Pass,2,Brazil,From Kick Off,...,1.530032,[c238f575-3eea-49e0-a0c2-09a05e46351c],"{'recipient': {'id': 6945, 'name': 'Alex Sandr...",3857258,781,781,3295,NaN,NaN,NaN

In [96]:
df_pass_events = dict_split_events['passes']
df_shots_events = dict_split_events['shots']
df_dribbles_events = dict_split_events['dribbles']
df_blocks_events = dict_split_events['blocks']
df_duels_events = dict_split_events['duels']

In [97]:
len(df_pass_events), df_shots_events.shape, df_dribbles_events.shape, df_blocks_events.shape

(1064, (28, 22), (32, 22), (35, 24))